# Flask specific
instance/
.webassets-cache

# Python
*.py[cod]
*$py.class
__pycache__/
*.so

# Virtual environment
venv/
env/
ENV/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# IDE specific (PyCharm, VS Code)
.idea/
.vscode/

# Logs
*.log

# Database
*.db
*.sqlite3

# Environment variables
.env

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
